.todays-meals {
  border: 1px solid black;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-meal {
  margin: 10px;
}

.section-title {
  font-size: 30px;
}

.button {
  height: 40px;
}

.add-meal-button {
  width: 75px;
  margin-bottom: 10px;
}

.todays-meal-item {
  border: 1px solid black;
  margin: 20px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
