.sign-in-page {
  padding: 10px;
  max-width: 1420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign-in-container {
  background-color: #f5fafa;
  border-radius: 10px;
  padding: 10px;
  min-height: 50vh;
  min-width: 300px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1200px) {
  .sign-in-page {
    flex-direction: row;
    padding-right: 0;
  }

  .sign-in-container {
    min-width: 300px;
  }
}
