#meal-log-container,
.meal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#meal-log-container:first-child {
  margin-top: 20px;
}

.meal-info,
.meal {
  width: 100%;
}

.meal-log-item,
.meal-info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.meal-log-item {
  border: 1px solid black;
  flex-direction: column;
  margin: 0 0 20px 0;
  width: 100%;
}

.add-meal-log-item {
  height: 40px;
  width: 10%;
}

.meal-foods {
  width: 100%;
}
