#food-log {
  height: 100%;
}

.food-item-container {
  border: 1px solid black;
  margin: 20px 0;
  padding: 10px;
  flex-direction: row;
  height: 120px;
  display: flex;
  align-items: center;
}

.food-item-container:first-child {
  margin-top: 0;
}

.food-item-container:last-child {
  margin-bottom: 0;
}

.food-macros {
  margin: 0;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.add-food {
  flex-direction: column;
  width: 30%;
}

.food-macros,
.food-item-container,
.add-food {
  display: flex;
  justify-content: space-between;
}
