.food-item-container {
  border: 1px solid black;
  margin: 20px;
  padding: 10px;
  flex-direction: row;
}

.food-macros {
  width: 300px;
  margin: 0;
}

.add-food {
  flex-direction: column;
  width: 15%;
}

.food-macros,
.food-item-container,
.add-food {
  display: flex;
  justify-content: space-between;
}

.container {
  border: 1px solid black;
  position: fixed;
  width: 75%;
  height: 600px;
  background: white;
  right: 0;
  left: 0;
  top: 25%;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
}
