.header {
  max-width: 1420px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  height: 50px;
  flex-grow: 1;
  z-index: 99;
}

.header-title {
  font-size: 30px;
}

a:active,
a:visited,
a {
  color: #17224d;
  text-decoration: none;
}

@media only screen and (min-width: 1440px) {
  .header {
    padding: 0;
  }
}
