.search-results {
  margin-top: 10px;
}

.food {
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
}

.search-results {
  background-color: #17224d;
  padding: 5px;
  border-radius: 10px;
}

.search-button {
  margin-left: 40px;
}

.search-bar {
  min-width: 200px;
}
