.meal-item {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.button {
  height: 40px;
}

.meal-macros {
  display: flex;
  width: 200px;
  justify-content: space-between;
}
