.sign-in-form {
  display: flex;
  flex-direction: column;
}

.sign-in {
  display: flex;
  flex-direction: column;
}

.button {
  align-self: center;
}

.input {
  margin-bottom: 10px;
}

.red {
  color: red;
}
