.stats {
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: white;
}

.header {
  align-self: center;
}

.stats-title {
  color: white;
}

.stats-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.macro-goal {
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 20px;
}
