.pop-up {
  border: 1px solid black;
  position: fixed;
  min-width: 275px;
  max-width: 700px;
  height: 500px;
  right: 0;
  left: 0;
  top: 11%;
  background-color: white;
  margin-right: 20px;
  margin-left: 20px;
  padding: 15px;
}

.close-window {
  position: absolute;
  background: red;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  right: -20px;
  top: -20px;
}

.component {
  height: 100%;
  overflow: auto;
}

@media only screen and (min-width: 600px) {
  .pop-up {
    margin: 0 auto;
    width: 600px;
  }
}

@media only screen and (min-height: 700px) and (max-height: 999px) {
  .pop-up {
    height: 650px;
  }
}

@media only screen and (min-height: 1000px) {
  .pop-up {
    height: 850px;
  }
}
