.pop-up {
  border-radius: 30px;
  position: fixed;
  width: 75%;
  height: 600px;
  background: #17224d;
  right: 0;
  left: 0;
  top: 25%;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
}

.component {
  height: 100%;
  overflow: auto;
}

.component::-webkit-scrollbar {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  width: 5px;
}

.component::-webkit-scrollbar-thumb {
  background-color: white;
  width: 2px;
  border-radius: 5px;
}

.close-window {
  position: absolute;
  background: red;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  right: -20px;
  top: -20px;
}
